---

---
/* Seoul International Visitors Centre */

@import "variables.scss";

body {
  background: #FFF;
  font-family: "Liberation Sans", "Myriad Pro", Verdana, sans-serif;
}

a {
  transition: border 0.2s;
  color: #000;
  text-decoration: none;
}
  
%auto-centre {
  margin: 0 auto;
}

#skiptocontent {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;
}

header {
  margin: 1em 0;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
}

#wrapper {
  @extend %auto-centre;
  max-width: 1170px;
}

.gallery {
  @extend %auto-centre;
  background: #000;
}

.description {
  position: absolute;
  left: 0;
  top: 33%;
  width: 100%;
  text-align: center;
  color: #fff;
}



footer {
  @extend %auto-centre;
  width: 80%;
  font-size: 0.8em;
  padding-top: 32px;
  padding-bottom: 32px;
  ul {
    display: flex;
    flex-flow: row wrap;
    align-content: stretch;
    justify-content: space-between;
    align-items: center;
  }
  
  li {
    padding: 0.5em;
  }
  a {
    text-decoration: none;
    color: #000;
    
    &:hover{
      text-decoration: underline;
    }
  }
}