---

---

@import "variables.scss";


#inner-wrapper {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1132px) {
  #content {
      padding: 0 1em;
  }
  
  aside {
    h1 {
      padding-left: 0.5em;
    }
  }
}


#content {
  min-width: 60%;
  max-width: 100%;
  img {
    border: 1px solid #888;
  }
  .sm-icons {
    margin: 2em 0;
    display: flex;
    justify-content: space-around;
    
    li {
      list-style: none;
    }
    
    img {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      border: none;
      transition: all 0.2s ease;
      
      &:hover{
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
      }
    }
  }
  
  ul {
    margin: 1em 0;
  }
  
  li {
    font-variant: small-caps;
    font-size: 1.25em;
    padding: 0.4em 0;
  }
}

article {
  a {
    text-decoration: underline;
    transition: color 0.5s ease;

    &:hover {
      color: $koreared;
    }
  }
}

aside {
  min-width: 30%;
  
  li {
    transition: border 0.2s;
    margin-bottom: 0.5em;
    border-left: 0px solid #FFF;
    &:hover{
      border-left: 4px solid #C60C30;
    }
  }
  
  a {
    display: block;
    font-size: 1.5em;
    margin: 1em 0 0 0;
    padding-left: 0.5em;
    text-decoration: none;
    &:hover {
      color: $koreared;
    }
  }
}

.page-contents {
  position: relative
}

.fixed {
  position: fixed;
  top: 10px;
  width: inherit;
}

h1, h2, h3 {
  font-size: 2em;
  font-weight: bold;
  padding: 0.5em 0;
}

h2 {
  font-style: italic;
  font-size: 1.6em;
}

h3 {
  font-size: 1.25em;
}

p {
  margin-bottom: 0.8em;
  font-size: 1.25em;
}

.important {
  border-radius: 4px;
  border: 1px solid #e2b600;
  background: #ffce00;
  padding: 1em;
}

.hero img {
  display: block;
}

figure {
  background: #EEE;
  margin: 1em 0;
  padding: 0.5em 0.5em 0 0.5em;
  border: 1px solid #CCC;
  border-radius: 2px;
}

figcaption {
  text-align: right;
  color: $caption;
  margin: 10px 0;
  font-style: italic;
  
  a {
    transition: all 0.2s ease;
    text-decoration: none;
    &:hover {
      color: $koreared;
      text-decoration: none;
    }
  }
}
/* Adjust hero text height */
.description {
  top: 30%;
}

form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  
  input, textarea {
    margin: 0 0 1em;
    font: inherit;
  }
  
  input {
    min-width:45%;
    max-width: 100%;
  }
  
  textarea {
    width:100%;
    resize: vertical;
  }
}

iframe {
  min-width: 100%;
}