---
layout: twocol
title: Contact Us
---
<div id="inner-wrapper">
  <aside>
    <div class="page-contents">
      <h1>On this page</h1>
      <ul>
        <li><a href="#our-location">Where we are</a></li>
        <li><a href="#social-media">Social Media</a></li>
        <li><a href="#contact-form">Send us a message</a></li>
      </ul>
    </div>
  </aside>
  <article id="content">
    <h1>Contact Us</h1>
    <section>
      <h2 id="#our-location">Where we are</h2>
      <ul>
        <li>73 Namdaemun-ro, Sogong-dong<br>Jung-gu, Seoul, South Korea</li>
        <li>Phone: +82 2-773-2400</li>
        <li>Open 9:00 AM to 6:00 PM, 7 days a week</li>
      </ul>
      <figure>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3162.62791633086!2d126.9785944157344!3d37.56382927979844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca2f1f27236df%3A0x63cd1785b0ea5f88!2z66Gv642w67Cx7ZmU7KCQIOyXkOu5hOuJtOyXmA!5e0!3m2!1sen!2sau!4v1464166593748" height="450" style="border:0" allowfullscreen></iframe>
      </figure>
      <p>We are located in the popular Myeongdong District in Seoul. Our shop is located next door to Lotte Department Store, one of the most famous shops in Seoul.</p>
    </section>
    <section>
      <h2 id="social-media">Social Media</h2>
      <p>Follow us on Facebook or Twitter to keep up to date on events in Seoul!</p>
      <ul class="sm-icons">
        <li><a href="https://www.facebook.com/SeoulIntVisitors"><img src="./img/facebook.114px.png" alt="Facebook" width="114" height="114" title="Like us on Facebook!"></a></li>
        <li><a href="https://www.twitter.com/SeoulIntVisitors"><img src="./img/twitter.114px.png" alt="Twitter" width="114" height="114" title="Tweet us @SeoulIntVisitors!"></a></li>
      </ul>
    </section>
    <section>
      <h2 id="contact-form">Send us a message</h2>
      <form action="#contact-form">
          <input type="text" name="contactName" placeholder="Your Name">
          <input type="text" name="contactEmail" placeholder="E-mail">
          <textarea name="message" rows="10" placeholder="Your Message"></textarea>
          <button>Submit</button>
      </form>
    </section>
  </article>
</div>