---
layout: gallery
---

<div class="hero">
  <noscript>
  <img src="./img/photos/2848642028_089c4fcdf4_o.jpg" width="1170" height="576" alt="Seoul during the day" title="">
  </noscript>
  <div class="gallery">
    <div class="slick-slide">
      <img src="./img/photos/2848642028_089c4fcdf4_o.jpg" width="1170" height="576" alt="Seoul during the day" title="">
      <!-- https://www.flickr.com/photos/wza/2848642028 - Photo by Warren R.M. Stuart / CC BY-NC-ND 2.0 -->
    </div>
    <div class="slick-slide">
      <img src="./img/photos/8141293458_e063cf04b8_o.jpg" width="1170" height="576" alt="Seoul's streets at night" title="">
      <!-- https://www.flickr.com/photos/fmcyjpa/8141293458/ - Photo by therealrealjd / CC BY-NC 2.0 -->
    </div>
    <div class="slick-slide">
      <img src="./img/photos/8141293764_677cdb6b5f_o.jpg" width="1170" height="576" alt="A restaurant in Seoul" title="">
      <!-- https://www.flickr.com/photos/fmcyjpa/8141293764/in/photostream/ - Photo by therealrealjd / CC BY-NC 2.0 -->
    </div>
    <div class="slick-slide">
      <img src="./img/photos/17165515280_cc9994e338_o.jpg" width="1170" height="576" alt="Some food from Seoul" title="">
      <!-- https://www.flickr.com/photos/eggry/17165515280/ - Photo by Dongheon Shin / CC BY-ND 2.0 -->
    </div>
  </div>
  <section class="description">
      <h1><small>Where tradition and technology meet.</small></h1>
      <h1>Welcome to Seoul.</h1>
      <a href="visit.html">Begin your Journey</a>
    </section>
</div>