---
layout: twocol
title: Legal
---
<div id="inner-wrapper">
  <aside>
    <div class="page-contents">
      <h1>On this page</h1>
      <ul>
        <li><a href="#liability">Liability</a></li>
        <li><a href="#disclaimer">Legal Disclaimer</a></li>
      </ul>
    </div>
  </aside>
  <article id="content">
    <h1>Legal Information</h1>
    <section>
      <h2 id="liability">Liability</h2>
      <p>Information and data within this site may not be reproduced for commercial or any other use or for information the site provides.</p>
      <p>The information presented in this site is correct at the publish date and will be updated from time to time. Please check regularly for updates.</p>
    </section>
    <section>
      <h2 id="disclaimer">Legal Disclaimer</h2>
      <p>You must gain our prior consent in order to link to the site. We will need information from you to permit the hyperlink: Your name, telephone number, e-mail address, the URL where the site is to be linked, and the date you hyperlink the site.</p>
      <p>You acknowledge that the content on the site is subject to copyright and possibly other intellectual property rights.</p>
      <p>Unless you are expressly authorised by law, you must not reproduce any content from the site and you must not participate in or permit another person to: sell, reproduce, distribute, modify, display, publicly perform, prepare derivative works based on, repost or otherwise use any of the content in any way for any commercial purpose without our prior written consent.</p>
      <p>Our organisation does not accept any responsibility or liability for any claims of damage or risk outside these terms and conditions.</p>
    </section>
  </article>
</div>