---
title: Markets
layout: twocol
---

<div id="inner-wrapper">
  <aside>
    <div class="page-contents">
      <h1>On this page</h1>
      <ul>
        <li><a href="#yangnyeong-market">Yangnyeong Market</a></li>
        <li><a href="#noryangjin-fish-markets">Noryangjin Fish Markets</a></li>
        <li><a href="#insadong">Insadong</a></li>
      </ul>
    </div>
  </aside>
  <article id="content">
    <section>
      <h2 id="yangnyeong-market">Yangnyeong Market</h2>
      <ul>
        <li>Yangnyeongjungang-ro 8-gil, Dongdaemun-gu, Seoul, South Korea</li>
        <li>Phone: +82-2-969-4793</li>
        <li>Open 24 hours</li>
      </ul>
      <figure>
        <img src="./img/photos/market-yangnyeong.jpg" alt="A standing arch in Yangnyong Market" width="800" height="450">
        <figcaption><a href="https://www.flickr.com/photos/sellyourseoul/4273528750/">Photo</a> by sellyourseoul / <a href="https://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a></figcaption>
      </figure>
      <p>Seoul's Yangnyeong Market is one of the most famous oriental medicine markets in Korea.</p>
      <p>These markets are a delight for all the senses with aromatic herbs scenting the air, and the rich colours of spices displayed on market stalls.</p>
    </section>
    
    <section>
      <h2 id="noryangjin-fish-markets">Noryangjin Fish Markets</h2>
      <ul>
        <li>688 Nodeul-ro, Dongjak-gu, Seoul, South Korea</li>
        <li>Open 1:00 AM to 6:00 PM</li>
      </ul>
      <figure>
        <img src="./img/photos/market-noryangjin.jpg" alt="A row of market stalls" width="800" height="450">
        <figcaption><a href="https://www.flickr.com/photos/foxxyz/6004836118/">Photo</a> by foxxyz / <a href="https://creativecommons.org/licenses/by-nc-sa/2.0/">CC BY-NC-SA 2.0</a></figcaption>
      </figure>
      <p>This is a wholesale fish market and a true “Seoul” experience. Arrive early to see the fish auctions or come in the evening for dinner. Pick the fish you want from a stall and bring it to a nearby  restaurant to cook.</p>
      <p>Auctions commence at 3 am with shellfish. They continue later in the morning with live fish at 1 am and fresh fish at 3 am.</p>
    </section>
    
    <section>
      <h2 id="insadong">Insadong</h2>
      <ul>
        <li>130-4, Insa-dong, Jongno-gu, Seoul, South Korea</li>
        <li>Open 9:00 AM to 5:00 PM</li>
      </ul>
      <figure>
        <img src="./img/photos/market-insadong.jpg" alt="A street of shops" width="800" height="450">
        <figcaption><a href="https://www.flickr.com/photos/bougher7/5552702511/">Photo</a> by Thomas Bougher / <a href="https://creativecommons.org/licenses/by-nc-sa/2.0/">CC BY-NC-SA 2.0</a></figcaption>
      </figure>
      <p>This is a small street which gives a more traditional shopping experience. Visit it for art galleries, and antique shops. It is the home of traditional hand crafted items such as porcelain. After shopping, revive yourself at the tea houses.</p>
      <p>The street is only small but it is packed with charm and is a cultural must see.</p>
    </section>
  </article>
</div>
