---
layout: twocol
title: Shop
---

<div class="hero">
  <img src="./img/photos/hero-shop.jpg" alt="A circular grid forming the facade of the Galleria" width="1170" height="576">
  <!-- https://www.flickr.com/photos/zoomzoom/146915578/ - Photo by Gabriel White / CC BY-SA 2.0 -->
  <section class="description">
    <h1>Shop until you drop.</h1>
  </section>
</div> 

<div id="inner-wrapper">
  <aside>
    <div class="page-contents">
      <h1>On this page</h1>
      <ul>
        <li><a href="#galleria">Galleria</a></li>
        <li><a href="#shinsegae">Shinsegae</a></li>
        <li><a href="#hyundai">Hyundai Department Store</a></li>
      </ul>
    </div>
  </aside>
  <article id="content">
    <section>
      <h2 id="galleria">Galleria</h2>
      <figure>
        <img src="./img/photos/shop-galleria.jpg" alt="Hallway of Galleria" width="800" height="450">
        <figcaption><a href="https://www.flickr.com/photos/willsan/5609118008/">Photo</a> by Will Hastings / <a href="https://creativecommons.org/licenses/by-nc/2.0/">CC BY-NC 2.0</a></figcaption>
      </figure>
      <p>Galleria is renowned for its luxury brand items and is the largest luxury department store in Korea.</p>
      <p class="important">Allow at least 2 hours for your visit</p>
      <ul>
        <li>Opening hours: 9:00 am to 6:00pm</li>
        <li>Address: 343 Apgujeong-ro, Gangnam-gu, Seoul, South Korea</li>
      </ul>
    </section>
    <section>
      <h2 id="shinsegae">Shinsegae</h2>
      <figure>
        <img src="./img/photos/shop-shinsegae.jpg" alt="Interior of Shinsegae" width="800" height="450">
        <figcaption><a href="https://www.flickr.com/photos/conbon/2259835058/">Photo</a> by Connie / <a href="https://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a></figcaption>
      </figure>
      <p>Korea's oldest department store was started in the 1930s. Today it is a chain of different style stores.</p>
      <p class="important">Allow at least 4 hours for your visit</p>
      <ul>
        <li>Opening hours: 9:00 am to 6:00 pm</li>
        <li>52-50 Chungmuro 1ga, Jung-gu, Seoul, South Korea</li>
      </ul>
    </section>
    <section>
      <h2 id="hyundai">Hyundai Department Store</h2>
      <figure>
        <img src="./img/photos/shop-hyundai.jpg" alt="Hyundai Department Store" width="800" height="450">
        <figcaption><a href="https://www.flickr.com/photos/xoxoryan/144282797/">Photo</a> by Ryan Pikkel / <a href="https://creativecommons.org/licenses/by-nc-sa/2.0/">CC BY-NC-SA 2.0</a></figcaption>
      </figure>
      <p>Hyundai Department Store is one of the three largest in the country. With plans to open more stores, it is becoming the best value shopping chain in South Korea.</p>
      <ul>
        <li>Opening hours: 9:00 am to 3:00pm Apr-Oct, 10:00 am to 2:00 pm Nov-Mar</li>
        <li>Address: 456 Apgujeong-dong, Gangnam-gu, Seoul, South Korea</li>
      </ul>
    </section>
  </article>
</div>
