---
layout: twocol
title: Stay
---


<div id="inner-wrapper">
  <aside>
    <div class="page-contents">
      <h1>On this page</h1>
      <ul>
        <li><a href="#hotels">Hotels</a></li>
        <li><a href="#traditional-stays">Traditional Stays</a></li>
        <li><a href="#camping">Camping</a></li>
      </ul>
    </div>
  </aside>
  <article id="content">
    <section>
      <h2 id="hotels">Hotels</h2>
      <figure>
        <img src="./img/photos/stay-hotel.jpg" alt="Hotel lobby view from a guest room" width="800" height="450">
        <figcaption><a href="https://www.flickr.com/photos/dylans/3413334128/">Photo</a> by Dylan / <a href="https://creativecommons.org/licenses/by-nc-sa/2.0/">CC BY-NC-SA 2.0</a></figcaption>
      </figure>
      <p>With hotels ranging from luxury and resort style to affordable and family friendly motels, you are sure to find something to suit any budget or taste. <a href="contact.html">Contact us</a> for our special booking rates.</p>
    </section>
    <section>
      <h2 id="traditional-stays">Traditional Stays</h2>
      <figure>
        <img src="./img/photos/stay-hanok.jpg" alt="Hanok" width="800" height="450">
        <figcaption><a href="https://www.flickr.com/photos/koreanet/8630791894/">Photo</a> by Republic of Korea / <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC BY-SA 2.0</a></figcaption>
      </figure>
      <p>For a local experience, consider a stay in a Hanok. Hanok houses are traditional Korean houses which are often hundreds of years old.</p>
      <p>By staying here you will experience the traditional paper and screen walls, along with traditional "yo" mattresses and pillows.</p>
      <p>Alternatively, experience life in a Buddhist monastery through a stay in a temple. Temple stays offer tranquillity and beautiful surroundings.</p>
      <figure>
        <img src="./img/photos/visit-temple.jpg" alt="Outskirts of a Korean temple overlooking a town on the coast" width="800" height="450">
        <figcaption><a href="https://www.flickr.com/photos/jasonteale/4641253332/">Photo</a> by Jason Teale / <a href="https://creativecommons.org/licenses/by-nc/2.0/">CC BY-NC 2.0</a></figcaption>
      </figure>
    </section>
    <section>
      <h2 id="camping">Camping</h2>
      <p>Seoul is renowned for its natural beauty which can be experienced at one of five camp sites located around the edge of the city.</p>
      <p>With five campsites scattered around the city it is possible to find a campsite to suit all tastes.</p>
    </section>
  </article>
</div>