---
title: Transport
layout: twocol
---
<div class="hero">
  <img src="./img/photos/hero-transport.jpg" alt="Rush hour traffic in Seoul" width="1170" height="576"><!-- https://www.flickr.com/photos/stuckincustoms/300928932/ - Photo by 
Trey Ratcliff / CC BY-NC-SA 2.0
-->
  <section class="description">
  <h1>Travel.</h1>
  </section>
</div>

<div id="inner-wrapper">
  <aside>
    <div class="page-contents">
      <h1>On this page</h1>
      <ul>
        <li><a href="#under-railway">Underground Railway</a></li>
        <li><a href="#buses">Buses</a></li>
        <li><a href="#taxis">Taxis</a></li>
      </ul>
    </div>
  </aside>
  <article id="content">
    <section>
      <h2 id="under-railway">Underground Railway</h2>
      <figure>
        <img src="./img/photos/travel-subway.jpg" alt="Underground Rail Service" width="800" height="450">
        <figcaption><a href="https://www.flickr.com/photos/ak_in_korea/403218233/">Photo</a> by Austin King / <a href="https://creativecommons.org/licenses/by-nc-sa/2.0/">CC BY-NC-SA 2.0</a></figcaption>
      </figure>
      <p>Seoul has an extensive underground rail system. All rail lines are colour coded and stations display signs in multiple languages.</p>
      <p>The T-money card is an electronic Smart card which can be used on buses, the underground railway, taxis and some convenience stores. The card is charged with an amount of funds and fare is deducted as the card is used. Discounts are offered for use of the T-Money card on some trips.</p>
    </section>
    
    <section>
      <h2 id="buses">Buses</h2>
      <figure>
        <img src="./img/photos/travel-buses.jpg" alt="Buses at the depo" width="800" height="450">
        <figcaption><a href="https://www.flickr.com/photos/115938778@N06/23022942114/">Photo</a> by Stefano Campolo / <a href="https://creativecommons.org/licenses/by-nc-sa/2.0/">CC BY-NC-SA 2.0</a></figcaption>
      </figure>
      <p>Seoul has an extensive and value-for-money bus system. Some bus stops have information in English, and most buses indicate the destination in English. Generally, the bus drivers do not speak English.</p>
      <p>Make sure you hold on really tightly when you go around the corners because Korean bus drivers are fast drivers.</p>
      <p>Buy a ‘bus carte 10’ card and ride unlimited distances for 10 bus trips.</p>
    </section>
    
    <section>
      <h2 id="taxis">Taxis</h2>
      <figure>
        <img src="./img/photos/travel-taxi.jpg" alt="Taxis in traffic" width="800" height="450">
        <figcaption><a href="https://www.flickr.com/photos/redslmdr/5922793039/">Photo</a> by 홍제동 / <a href="https://creativecommons.org/licenses/by-nc-sa/2.0/">CC BY-NC-SA 2.0</a></figcaption>
      </figure>
      <p>Seoul has different types of taxis.</p>
      <p>Regular taxis are numerous and usually orange in colour. They offer inexpensive transport around Seoul.</p>
      <p>Deluxe taxis are black with a golden stripe. They offer limousine-type transport at a higher rate.</p>
      <p>You can also hire Jumbo taxis that can carry up to 8 people.</p>
    </section>
  </article>
</div>
