---
layout: twocol
title: Travel Tips
---
<div class="hero">
  <img src="./img/photos/hero-traveltips.jpg" alt="Airport Runway" width="1170" height="576">
  <!-- https://www.flickr.com/photos/curtisperry/15615886563/ - Photo by Curtis Perry / CC BY-NC-SA 2.0 -->
  <section class="description">
    <h1>Before you travel</h1>
  </section>
</div> 

<div id="inner-wrapper">
  <aside>
    <div class="page-contents">
      <h1>On this page</h1>
      <ul>
        <li><a href="#entry-visa">Entry Visa</a></li>
        <li><a href="#money">Money</a></li>
        <li><a href="#packing">Packing</a></li>
        <li><a href="#take-home">Things to take home</a></li>
      </ul>
    </div>
  </aside>
  <article id="content">
    <h1>Travel Tips</h1>
    <section>
      <h2 id="entry-visa">Entry Visa</h2>
      <p>Visitors from the USA, most West European countries, New Zealand, and Australia receive a 90-day permit on arrival. They must have a return ticket. </p>
    </section>
    <section>
      <h2 id="money">Money</h2>
      <p>The South Korean unit of currency is the won with 10 Won, 50 Won, 100 Won and 500 Won coins. Notes come in denominations of 1,000 Won, 5,000 Won, 10,000 Won and 50,000 Won.</p>
    </section>
    <section>
      <h2 id="packing">Packing</h2>
      <p>Pack some of winter woollies as Seoul can be cold, especially in winter. Deodorant is not easy to find in Seoul so bring it in your luggage.</p>
    </section>
    <section>
      <h2 id="take-home">Things to take home</h2>
      <p>Traditional handicrafts make great presents. Korea is renowned for lovely makeup brands.</p>
    </section>
  </article>
</div>








