---
layout: twocol
title: Visit
---

<div class="hero">
  <img src="./img/photos/hero-visit.jpg" alt="Downtown Seoul" width="1170" height="576"><!-- https://www.flickr.com/photos/mariosp/7273754188/ - Photo by 
Mario Sánchez Prada / CC BY-SA 2.0
-->
  <section class="description">
  <h1>See the sights</h1>
  </section>
</div> 

<div id="inner-wrapper">
  <aside>
    <div class="page-contents">
      <h1>On this page</h1>
      <ul>
        <li><a href="#gyeongbok-palace">Gyeongbok Palace</a></li>
        <li><a href="#national-museum-korea">National Museum of Korea</a></li>
        <li><a href="#bugaksan-mountain">Bugaksan Mountain</a></li>
        <li><a href="#lotte-world">Lotte World</a></li>
      </ul>
    </div>
  </aside>
  <article id="content">
    <section>
      <h2 id="gyeongbok-palace">Gyeongbok Palace</h2>
      <ul>
        <li>161 Sajik-ro, Jongno-gu, Seoul, South Korea</li>
        <li>Open 9:00 AM to 6:00 PM</li>
        <li>Admission: 3000 Won</li>
      </ul>
      <figure>
        <img src="./img/photos/attraction-gyeongbokpalace.jpg" alt="Gyeongbok Palace" width="800" height="450">
        <figcaption><a href="https://www.flickr.com/photos/felstone/14462955827/">Photo</a> by 5oulscape / <a href="https://creativecommons.org/licenses/by-nc/2.0/">CC BY-NC 2.0</a></figcaption>
      </figure>
      <p>Gyeongbok Palace is the most spectacular of five royal palaces located in Seoul. It was built in 1395 and was the main palace of the Kings of the Joseon dynasty. It is home to the National Palace Museum of Korea and the National Folk Museum.</p>
      <p class="important">Allow at least 2 hours for your visit</p>
    </section>
    
    <section>
      <h2 id="national-museum-korea">National Museum of Korea</h2>
      <ul>
        <li>137 Seobinggo-ro, Yongsan-gu, Seoul, South Korea</li>
        <li>Phone: +82 2-2077-9000</li>
        <li>Open 9:00 AM to 6:00 PM</li>
        <li>Admission: 4000 Won</li>
      </ul>
      <figure>
        <img src="./img/photos/attraction-nationalmuseum.jpg" alt="The interior of the National Museum of Korea">
        <figcaption><a href="https://www.flickr.com/photos/molinarius/6697328757/">Photo</a> by Robert M&uuml;ller / <a href="https://creativecommons.org/licenses/by-nc/2.0/">CC BY-NC 2.0</a></figcaption>
      </figure>
      <p>This is main museum of Korean history and art in South Korea. Housed in a breathtaking modernist building, this museum is one of the most popular tourist attractions in Korea.</p>
      <p class="important">Allow at least 4 hours for your visit</p>
    </section>
    <section>
      <h2 id="bugaksan-mountain">Bugaksan Mountain</h2>
      <ul>
        <li>Admission: free</li>
        <li>Open 9:00 AM to 3:00 PM Apr-Oct<br>10:00 AM to 2:00 PM Nov-Mar</li>
      </ul>
      <figure>
        <img src="./img/photos/attraction-bugaksanmountain.jpg" alt="Gyeongbok Palace" width="800" height="450">
        <figcaption><a href="https://www.flickr.com/photos/traveloriented/13956489413/">Photo</a> by travel oriented / <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC BY-SA 2.0</a></figcaption>
      </figure>
      <p>Bugaksan is a spectacular mountain in Seoul. It is home to the Gyeongbokgung Palace and a recently restored city wall. View the palace and old city wall then walk along one or two of the easy hiking trails.</p>
      <p>In Spring, you can enjoy the beautiful cherry blossoms. This is an area of great natural beauty and a refreshing break from the hustle and bustle of Seoul.</p>
    </section>
    <section>
      <h2 id="lotte-world">Lotte World</h2>
      <ul>
        <li>240 Olympic-ro, Songpa-gu, Seoul, South Korea</li>
        <li>Phone: +82 1661-2000</li>
        <li>Open 9:30 AM to 10 PM Monday to Thursday<br>9:30 AM to 11 PM Friday to Sunday</li>
        <li><a href="http://global.lotteworld.com/">Website</a></li>
      </ul>
      <figure>
        <img src="./img/photos/attraction-lotteworld.jpg" alt="Lotte World Interior" width="800" height="450">
        <figcaption><a href="https://www.flickr.com/photos/cactusbeetroot/6647263017/">Photo</a> by cactusbeetroot / <a href="https://creativecommons.org/licenses/by-nc/2.0/">CC BY-NC 2.0</a></figcaption>
      </figure>
      <p>Lotte World is regarded as one of the world's best theme parks alongside Disneyland in the US and Japan. With an average of 8 million customers visiting Lotte World each year, Lotte World is a favourite for both locals and tourists.</p>
      <p>Consisting of the outdoor <em>Magic Island</em> and the indoor <em>Adventure</em>, be sure to take your time to see it all!</p>
      <h3>Daily Passport Ticket Rates</h3>
      <p>Passport Tickets allow you access to nearly all the attractions in Lotte World! For more details on entry rates, <a href="http://global.lotteworld.com/contents/contents.asp?cmsCd=CM0203">click here</a>.</p>
      <ul>
        <li>Adult: 48,000 Won</li>
        <li>Youth: 42,000 Won</li>
        <li>Child: 38,000 Won</li>
        <li>Infant: 12,000 Won</li>
      </ul>
    </section>
  </article>
</div>