/* Critical CSS - CSS to load to avoid bad flashes*/
@import "variables";

img {
  max-width: 100%;
  height: auto;
}

button::-moz-focus-inner {
  border: 0;
}

#logo {
  transition: margin 0.2s ease;
  margin: 0;
}

/* Navigation */

#menu-toggle, .label-toggle {
  display: none;
}

aside a {
  color: #000;
}

nav {
  width: 70%;
  font-style: italic;
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
  }
  
  li {
    display: inline-block;
    font-size: 1.5em;
    text-transform: uppercase;
  }
  
  a {
    color: #000;
    text-decoration: none;
    font-style: italic;
    border-bottom: 4px solid #FFF;
    &:hover {
      border-bottom: 4px solid #000;
    }
  }
}

/* Hero block */
.hero {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  background-color: #000;
  height: auto;

  h1 {
    margin: 0;
  }
  
  img {
    opacity: 0.5;
  }
  
  a {
    display: inline-block;
    margin-top: 32px;
    padding: 8px;
    border: 4px solid #FFF;
    font-size: 24px;
    text-decoration: none;
    color: #FFF;
    transition: all 0.2s;
    &:hover {
      color: #000;
      background: #FFF;
    }
  }
}

@media (min-width: 1133px) {
  .hero {
    h1 {
      font-size: 87px;
      small {
        font-size: 42px;
      }
    }
  }
}

@media (max-width: 1132px) {
  #logo {
    margin-left: 0.5em;
  }
  
  .hero {
    h1 {
      font-size: 6.2vw;
      small {
        font-size: 3vw;
      }
    }
  }
  
  nav {
    ul {
    display: block;
    height: 0;
    opacity: 0;
    text-align: center;
    transition: all 0.2s ease;
    width: 100vw;
    visibility: hidden;
    }
    
    li {
      border-bottom: 2px solid #000;
      color: #000;
      display: block;
      font-size: 3em;
      transition: background 0.2s;
      
      &:hover {
        background: $koreablue;
      }
    }
    
    a {
      border-bottom: none;
      color: #000;
      text-decoration: none;
      display: block;
      width: 100%;
      height: 100%;
      padding: 0.3em 0;
      transition: color 0.1s;

      &:hover {
        color: #FFF;
        border-bottom: none;
      }
    }
  }

  
  #menu-toggle:checked ~ nav ul {
    opacity: 1;
    height: 100vh;
    visibility: visible;
  }
  
  .label-toggle {
      background: linear-gradient(to bottom, $menubtn 0%, $menubtn 20%, transparent 20%, transparent 40%, $menubtn 40%, $menubtn 60%, transparent 60%, transparent 80%, $menubtn 80%, $menubtn 100%); //Gradient Hamburger
      cursor: pointer;
      display: block;
      float: right;
      height: 32px;
      margin: 1em 2em 0 0;
      width: 32px;
  }
}