<footer>
  <ul>
    <li>&copy; Seoul International Visitors Centre 2016</li>
    <li><a href="legal.html">Legal</a></li>
    <li><a href="mailto:info@seoulinternationalvisitorscentre.co.kr">info@seoulinternationalvisitorscentre.co.kr</a></li>
    <li><a href="https://www.facebook.com/SeoulIntVisitors"><img src="./img/facebook.png" alt="Facebook" title="Like us on Facebook"></a></li>
    <li><a href="https://www.twitter.com/SeoulIntVisitors"><img src="./img/twitter.png" alt="Twitter" title="Follow us on Twitter for updates!"></a></li>
  </ul>
</footer>