<div id="skiptocontent">
    <a href="#content">Skip to Content</a>
</div>
<header>
  <a id="logo" href="index.html">
   <picture>
    <source type="image/svg+xml" srcset="./img/SeoulIntVisitorsCentre-Logo.svg 320w"
      sizes="(max-width: 320px) 320px,
             (max-width: 1168px) 291px">
    <source srcset="./img/SeoulIntVisitorsCentre-Logo.320px.png 320w,
                    ./img/SeoulIntVisitorsCentre-Logo.480px.png 480w"
      sizes="(max-width: 320px) 320px,
             (max-width: 480px) 480px">
    <img src="./img/SeoulIntVisitorsCentre-Logo.small.png" alt="Seoul International Visitors Centre Logo" title="" width="291" height="121">
    </picture>
  </a>
  
  <input type="checkbox" id="menu-toggle">
  <label for="menu-toggle" class="label-toggle"></label>
  
  <nav>
    <ul>
      <li><a href="visit.html">Visit</a></li>
      <li><a href="shop.html">Shop</a></li>
      <li><a href="markets.html">Markets</a></li>
      <li><a href="stay.html">Stay</a></li>
      <li><a href="transport.html">Transport</a></li>
      <li><a href="traveltips.html">Travel Tips</a></li>
      <li><a href="contact.html">Contact Us</a></li>
    </ul>
  </nav>
</header>
