<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    
    <div id="wrapper">
      <div id="inner-wrapper">
        {% include header.html %}
        
        {{ content }}
        
        {% include footer.html %}
      </div>
    </div>

  </body>

</html>
