<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    
    <div id="wrapper">
      <div id="inner-wrapper">
        {% include header.html %}
        
        {{ content }}
        
        {% include footer.html %}
      </div>
    </div>
  <script type="text/javascript" src="./js/fallback.js"></script>
    <script>
      fallback.load({
        reset_css:  './css/reset.css',
        main_css:   './css/main.css',
        slick_css:  ['https://cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css',
                     './css/slick.css'],
        slick_theme:['https://cdn.jsdelivr.net/jquery.slick/1.5.9/slick-theme.css',
                     './css/slick-theme.css'],
        jQuery: ['//code.jquery.com/jquery-1.12.0.min.js',
                 'https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.0/jquery.min.js',
                 './js/jquery-1.12.0.min.js'],
        jQueryMigrate: ['//code.jquery.com/jquery-migrate-1.2.1.min.js',
                           'https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.2.1/jquery-migrate.min.js',
                           './js/jquery-migrate-1.2.1.min.js'],
        slickjs: ['https://cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js',
                  './js/slick-1.5.9.js']
      }, {
        shim: {
          jQueryMigrate: ['jQuery'],
          slickjs: ['jQuery']
        },

        callback: function(success, failed) {
          console.log("Successfully loaded the following resources:");
          console.log(success);
          console.log("These resources failed to load:");
          console.log(failed);
        }

      });

      console.log("fallback.load is done");

      fallback.ready(function(){
        console.log("Starting slickJS gallery");
        $('.gallery').slick({
          dots: true,
          autoplay: true,
          autoplaySpeed: 3500,
          speed: 600,
          fade: false,
          arrows: false,
          cssEase: 'ease-in-out',
          responsive: [
            {
              breakpoint: 960,
              settings: {
                dots: false
              }
            }
          ]
        });
      });
    </script>
    <noscript>
      <link rel="stylesheet" property="stylesheet" href="./css/reset.css">
      <link rel="stylesheet" property="stylesheet" href="./css/main.css">
    </noscript>
     <link rel="stylesheet" property="stylesheet" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css">
     <link rel="stylesheet" property="stylesheet" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick-theme.css">    
  </body>

</html>
