<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    
    <div id="wrapper">
{% include header.html %}
       
{{ content }}
        
{% include footer.html %}
    </div>
  <script type="text/javascript" src="./js/fallback.js"></script>
    <script>
      fallback.load({
        reset_css:  './css/reset.css',
        main_css:   './css/main.css',
        two_column: './css/twocolumn.css',
        jQuery: ['//code.jquery.com/jquery-1.12.0.min.js',
                 'https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.0/jquery.min.js',
                 './js/jquery-1.12.0.min.js'],
      }, {
        shim: {},

        callback: function(success, failed) {
          console.log("Successfully loaded the following resources:");
          console.log(success);
          console.log("These resources failed to load:");
          console.log(failed);
        }

      });

      console.log("fallback.load is done");

      fallback.ready(function(){
        // Activate only when clicking a link to an id
        $(document).on('click', 'a[href^="#"]', function(e) {
            // target element id
            var id = $(this).attr('href');

            // target element
            var $id = $(id);
            if ($id.length === 0) {
                return;
            }

            // prevent standard hash navigation (avoid blinking in IE)
            e.preventDefault();

            // top position relative to the document
            var pos = $(id).offset().top;

            // animated top scrolling
            $('body, html').animate({scrollTop: pos});
        });
        
        // Fixed positioning for the sidebar
        // position: sticky is not valid in CSS3 yet
        // The CSS works for Firefox however
        
        var header = document.querySelector('.page-contents');
        var origOffsetY = header.offsetTop;

        function onScroll(e) {
          window.scrollY >= origOffsetY ? header.classList.add('fixed') :
                                          header.classList.remove('fixed');
        }

        document.addEventListener('scroll', onScroll);
      });
    </script>
    <noscript>
      <link rel="stylesheet" property="stylesheet" href="./css/reset.css">
      <link rel="stylesheet" property="stylesheet" href="./css/main.css">
      <link rel="stylesheet" property="stylesheet" href="./css/twocolumn.css">
    </noscript>  
  </body>

</html>
